@model Filmes.Models.Filme

@{
    ViewData["Title"] = "Details";
}



    <div class="text-white rounded  bck">
        <h1>Details</h1>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Titulo)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Titulo)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Data_lancamento)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Data_lancamento)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Genero)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Genero)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Avaliacao)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Avaliacao)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Autor)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Autor)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Classificacao)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Classificacao)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Descrição)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Descrição)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Num_votos)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Num_votos)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Nota)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Nota)
            </dd>
        </dl>
    </div>
<div>
    @if (User.Identity.Name == "cristiano.camargos@gmail.com")
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    }
    <a asp-action="Index">Back to List</a>
</div>
